<!DOCTYPE html>
<html lang="en">

<!-- Last updated 2017-07-25 -->
<head class="flex column" >
    <meta charset="utf-8" />
    <title>Chris's Cool Web-Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="/_assets/img/apple-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/_assets/img/apple-icon-precomposed.png">
    <!-- Social --> 
    <meta property="og:title" content="Chris van Wagoner">
    <meta property="og:description" content="Chris's Cool Web-Site">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.chrisvanwagoner.com/_assets/img/apple-icon-precomposed.png">
    <meta property="og:site_name" content="Chris van Wagoner">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Chris van Wagoner">
    <meta name="twitter:description" content="Chris's Cool Web-Site">
    <meta name="twitter:image:src" content="https://www.chrisvanwagoner.com/_assets/img/apple-icon-precomposed.png">
    <!-- End social share meta tags -->

    <script src="https://use.typekit.net/luj6vzy.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <!-- <script type="text/javascript" src="./_assets/javascript/atvImg.js"></script> -->

		<!-- <link rel="stylesheet" type="text/css" href="./_assets/css/normalize.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="./_assets/css/atvImg.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="./_assets/css/spectre.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="./_assets/css/spectre-exp.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="./_assets/css/keyframes.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="./_assets/css/simple-grid.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="./_assets/css/animate.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="./_assets/css/awesome.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="./_assets/css/stylin'profilin'.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/_assets/css/styles-v2.css" /> -->
    <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>

    <header>
        <a href="https://www.chrisvanwagoner.com/">Chris van Wagoner</a>
    </header>

    <main>

    </main>

</body>
</html>