* {
  padding: 0;
  margin: 0; }

html {
  font-size: 20px;
  font-family: Europa; }

a {
  text-decoration: none;
  color: inherit; }

body {
  display: flex; }

header {
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  color: #000000;
  background-color: #ffffff; }
  header a {
    display: flex;
    background-color: #ffffff;
    align-self: center;
    padding: 0.25em 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 2px solid #000000;
    box-shadow: 0 2px 0.3em rgba(0, 0, 0, 0.25); }
