@media screen and (min-width: 600px) {
  header .header__name {
    font-size: 2.2em;
    font-weight: 200; }

  header .header__summary {
    font-weight: 200; }

  .work .header__h2, .work .header__flavor {
    text-align: left;
    justify-content: flex-start; } }
