@keyframes codedisappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    height: 0;
    width: 0;
  }
}


@keyframes blink {
  0% {  }
  10% { background-image: url("/_assets/img/palm copy 4.jpg"); }
  15% { background-image: url("/_assets/img/palm copy 3.jpg"); left: 1rem; }
  60% { background-image: url("/_assets/img/palm copy 2.jpg"); left: 0.5rem; top: -0.2rem;}
  50% { background-image: url("/_assets/img/palm copy 5.jpg"); left: 1rem; top: 0.5rem; }
  55% { left: 0; }
  90% { background-image: url("/_assets/img/palm copy.jpg"); }
  95% { background-image: url("/_assets/img/palm.jpg"); left: 0.5rem;}
}

@keyframes addtext {
  0% { content: "_"; }
  5% { content: "'_"; }
  10% { content: "'s_"; }
  15% { content: "'s _"; }
  25% { content: "'s C_"; }
  30% { content: "'s Co_"; }
  35% { content: "'s Coo_"; }
  40% { content: "'s Cool_"; }
  45% { content: "'s Cool _"; }
  55% { content: "'s Cool W_"; }
  60% { content: "'s Cool We_"; }
  70% { content: "'s Cool Web_"; }
  75% { content: "'s Cool Web-_"; }
  80% { content: "'s Cool Web-S_"; }
  85% { content: "'s Cool Web-Si_"; }
  90% { content: "'s Cool Web-Sit_"; }
  100% { content: "'s Cool Web-Site_"; }
}


@keyframes spinoff {
  from {

  }
  to {
    transform: rotateZ(90deg);
    transform-origin: top left;
  }
}
