/***********************************
  Imports
***********************************/
.full-width {
  width: 100%; }

/* Flexbox layout*/
.flex {
  display: flex; }

.flex.column {
  flex-direction: column; }

.flex.horizontal {
  justify-content: center; }

.flex.row {
  flex-direction: row; }

.flex.center {
  align-items: center;
  justify-content: center;
  /* height is very different than flex - AJ
  height: 100%;
  */ }

.flex.stretch {
  align-items: stretch; }

.flex.initial-center {
  justify-content: center; }

.flex.cross-center {
  align-items: center; }

.flex.initial-spaced {
  justify-content: space-between; }

.flex.wrap {
  flex-wrap: wrap; }

.flex.bottom {
  align-self: flex-end; }

.flex.right {
  justify-content: flex-end; }

.flex.thirds > * {
  margin-right: 5%;
  flex: 0 0 30%;
  margin-bottom: 3%; }

.flex.thirds > *:nth-child(3n) {
  margin-right: 0; }

.flex > .fill {
  flex: 1 1 auto; }

.flex.full {
  flex: 0 0 100%; }

.flex.right {
  justify-content: flex-end; }

.flex > .last-item {
  order: 1; }

.flex > .left {
  justify-content: flex-start; }

.flex > .space-around {
  justify-content: space-around; }

@keyframes rainbow-shadow {
  0% {
    box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8); }

  33% {
    box-shadow: 0 2px 0.5em rgba(0, 255, 0, 0.8); }

  66% {
    box-shadow: 0 2px 0.5em rgba(0, 0, 255, 0.8); }

  100% {
    box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8); } }
@-webkit-keyframes slide {
  0% {
    width: 10px; }

  50% {
    width: 100%; }

  100% {
    width: 10px; } }
@keyframes slide {
  0% {
    width: 10px; }

  50% {
    width: 100%; }

  100% {
    width: 10px; } }
@keyframes header-hover {
  0% {
    box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25); }

  50% {
    box-shadow: 0 0 1em rgba(75, 1, 3, 0.1), 0 0 2em rgba(146, 1, 3, 0.25); }

  100% {
    box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25); } }
/***********************************
  Variables
***********************************/
/***********************************

***********************************/
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align: left;
  text-decoration: none; }

html {
  background-color: #F6F6F6;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-family: Europa, Futura, "Avenir Next", sans-serif;
  overflow-x: hidden; }

body {
  display: flex;
  flex-direction: column; }

h1 {
  font-size: 1.8em;
  line-height: 1;
  letter-spacing: 2px;
  font-weight: 500;
  color: #2633ff;
  color: #272AC5; }

h2 {
  font-size: 2em; }

/***********************************
  Header
***********************************/
header {
  background-color: #ffe8e2;
  height: 90vh;
  min-height: 500px;
  display: flex;
  justify-content: center; }
  header .header__content-wrap {
    margin: 5% 5%;
    display: flex;
    flex: 1; }
  header .header-image {
    animation: 5s ease-in-out 1s infinite header-hover;
    -webkit-animation: 5s ease-in-out 1s infinite header-hover;
    background-color: #ff977c;
    background-image: url("/_assets/img/name-in-Gilbert.png");
    background-size: cover;
    background-position: 50% -2em;
    background-repeat: no-repeat;
    flex: 1;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25); }
    header .header-image .header__text-wrap {
      padding: 10% 7%;
      flex: 1;
      flex-direction: row; }
      header .header-image .header__text-wrap .header__summary {
        margin-top: 1em;
        font-weight: 500;
        letter-spacing: 2px; }

/***********************************
  Main
***********************************/
main {
  display: flex;
  flex-direction: column;
  /***********************************
    Main Bio
  ***********************************/
  /***********************************
    Work
  ***********************************/ }
  main .bio {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #222D32;
    font-family: Inconsolata, monospace; }
    main .bio h2 {
      font-size: inherit; }
    main .bio .btn {
      outline: none; }
    main .bio .btn.buzzshift {
      padding: 0.3em 0.4em;
      border-radius: 6px;
      color: inherit;
      transition: 0.5s;
      background-color: RGBA(255, 186, 0, 1);
      box-shadow: 0 0 3em RGBA(214, 116, 0, 1); }
    main .bio .btn.buzzshift:hover {
      box-shadow: none; }
    main .bio *:not(div) {
      display: inline; }
    main .bio .brac {
      color: #7EC9C2; }
    main .bio .el {
      color: #DC5B63; }
    main .bio .arrow-down {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 10px solid #8CB2B2;
      transform: rotateX(180deg); }
    main .bio #bio__text-wrap {
      padding-top: 6rem;
      padding-bottom: 6rem;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto; }
      main .bio #bio__text-wrap .bio__text-block {
        padding-bottom: 1em; }
      main .bio #bio__text-wrap .bio__text-block:last-child {
        padding-bottom: 0; }
      main .bio #bio__text-wrap p, main .bio #bio__text-wrap h2 {
        font-family: Inconsolata, monospace;
        letter-spacing: 0px; }
      main .bio #bio__text-wrap .gus {
        text-decoration: underline; }
  main .work {
    display: flex;
    flex-direction: column;
    color: #2a2a2a;
    margin-bottom: 6rem; }
    main .work .work__header:first-child {
      margin-top: 6rem; }
    main .work .work__header:nth-child(2) {
      margin-bottom: 6rem; }
    main .work .h2-wrapper {
      display: flex;
      flex-direction: row;
      overflow: hidden; }
      main .work .h2-wrapper .header__h2 {
        margin-top: 12rem;
        margin-bottom: 12rem;
        display: flex;
        left: -5%;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        background-color: #f6f6f6; }
        main .work .h2-wrapper .header__h2 p {
          transform: rotateZ(-19deg);
          font-family: Europa, Futura, "Avenir Next", sans-serif;
          font-weight: 500;
          font-size: 4em;
          line-height: 0; }
      main .work .h2-wrapper .header__flavor {
        color: #2a2a2a;
        text-align: center; }
    main .work .client-details__link {
      color: #2a2a2a; }
    main .work .client-details__link:hover {
      text-decoration: underline; }
    main .work .work__client.primary {
      display: flex;
      flex: 1;
      color: #2a2a2a;
      background-color: #f6f6f6;
      min-height: 500px;
      margin-top: 0; }
      main .work .work__client.primary .client-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 600px;
        margin-top: 12rem;
        margin-bottom: 12rem;
        position: relative; }
        main .work .work__client.primary .client-details .client-details__type {
          font-size: 0.8em; }
        main .work .work__client.primary .client-details .client-details__name {
          font-weight: 500;
          font-size: 2.2em;
          line-height: 1;
          margin-top: 0.5em;
          letter-spacing: 2px;
          text-transform: uppercase; }
        main .work .work__client.primary .client-details .client-details__text {
          margin-top: 1em; }
        main .work .work__client.primary .client-details .client-details__link {
          margin-top: 1em;
          color: #2a2a2a; }
      main .work .work__client.primary .image-credit {
        display: flex;
        flex: 1;
        justify-content: flex-end; }
        main .work .work__client.primary .image-credit a {
          align-self: flex-end;
          opacity: 0.5; }
    main .work .work__client.secondary {
      display: flex;
      flex-direction: column;
      color: #2a2a2a;
      height: auto;
      background-image: linear-gradient(180deg, #cccccc, #eeeeee 30%, #fafafa 40%, #f6f6f6 50%); }
      main .work .work__client.secondary .work__client__img-wrapper {
        padding: 5%;
        padding-top: 6rem;
        padding-bottom: 0;
        height: 20em;
        display: inline;
        position: relative; }
        main .work .work__client.secondary .work__client__img-wrapper img {
          width: 100%;
          vertical-align: middle;
          text-align: center;
          margin-left: auto;
          margin-right: auto; }
        main .work .work__client.secondary .work__client__img-wrapper .client-image {
          background-image: url("/_assets/img/buyers-comp.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          height: 100%;
          width: 100%; }
      main .work .work__client.secondary .client-details {
        max-width: 600px;
        margin: 5%; }
        main .work .work__client.secondary .client-details :first-child {
          margin-bottom: 2em; }
        main .work .work__client.secondary .client-details .client-details__type {
          font-size: 0.8em; }
        main .work .work__client.secondary .client-details .client-details__name {
          font-weight: 500;
          font-size: 2.2em;
          line-height: 1;
          margin-top: 0.5em;
          letter-spacing: 2px;
          text-transform: uppercase; }
        main .work .work__client.secondary .client-details .client-details__text {
          margin-top: 1em;
          margin-bottom: 1em; }
    main .work .tertiary {
      background-color: #fff;
      height: auto;
      display: flex;
      flex: 1;
      margin: 5%;
      flex-direction: column; }
      main .work .tertiary .client-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1em solid black;
        border: 0.2em solid black; }
        main .work .tertiary .client-content .client-details {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 3rem;
          margin-bottom: 3rem; }
          main .work .tertiary .client-content .client-details img {
            max-height: 5em;
            max-width: 90%;
            align-self: center; }
          main .work .tertiary .client-content .client-details .client-details__type {
            margin-bottom: 1em;
            text-align: center; }
          main .work .tertiary .client-content .client-details .client-details__name {
            display: none; }
          main .work .tertiary .client-content .client-details .client-details__link {
            margin-top: 1em; }
        main .work .tertiary .client-content .offset-screenshot {
          margin-bottom: 1em;
          box-shadow: 0 0 0.3em 0.1em rgba(0, 0, 0, 0.25);
          width: 90%;
          height: auto; }
    main .work .work__client--deca {
      background-image: url("/_assets/img/client-bg-deca-dental.jpg");
      background-position: 70% 0%;
      background-size: cover;
      background-repeat: no-repeat; }
      main .work .work__client--deca .client-details__name {
        color: #447fc6; }
    main .work .work__client--buyers .client-details__name {
      color: #161843; }
    main .work .work__client--whichwich .client-content {
      border-color: #fec524; }
    main .work .work__client--raleys .client-content {
      border-color: #ff0036; }
    main .work .work__client--ivie .client-content {
      border-color: #87a93e; }
    main .work .work__client--als .client-content {
      border-color: #e51837; }

.sociallinks {
  background-color: #f6f6f6;
  width: 100%;
  margin-bottom: 6rem;
  text-align: center; }
  .sociallinks a {
    font-weight: 400;
    /*color: inherit;*/
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px; }
  .sociallinks div {
    position: relative;
    line-height: 1.5rem;
    margin-bottom: 0.7rem; }
  .sociallinks h2 {
    margin-left: 5%;
    width: 90%;
    color: black;
    transform: rotateZ(-5deg);
    margin-bottom: 0.5em; }
  .sociallinks #sociallinks__button-wrap {
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5%; }

.twitter {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  background: linear-gradient(180deg, RGBA(45, 199, 245, 1), RGBA(5, 159, 245, 1));
  position: relative;
  display: inline-block;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  box-shadow: 0px 6px 10px 1px RGBA(5, 159, 245, 0.5);
  transition: 0.2s; }

.twitter .name {
  color: #fff;
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
  vertical-align: text-top;
  font-weight: 400;
  top: -7px; }

.twitter .highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), RGBA(5, 159, 245, 0.1));
  position: relative;
  margin: 0 auto;
  width: 135px;
  height: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.1); }

.twitter .lowlight {
  height: 0px;
  position: inherit;
  width: 135px;
  top: -0.75em;
  margin: 0 auto;
  box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.5); }

.twitter .lowlight2 {
  height: 0px;
  position: inherit;
  width: 115px;
  top: -0.75em;
  margin: 0 auto;
  box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.7); }

.twitter:hover {
  transition: 0.2s;
  top: -2px;
  box-shadow: 0px 10px 16px 1px RGBA(5, 159, 245, 0.5); }

.twitter:hover .name {
  opacity: 1;
  transition: 0.2s; }

.btn.github {
  color: #000;
  top: -0.4em;
  position: relative;
  padding: 0.5rem;
  font-family: monospace;
  background-color: darkgrey;
  border: medium solid grey;
  border-top: medium solid lightgrey;
  border-left: medium solid lightgrey; }

.btn.github:hover, .btn.github:active {
  border-top-color: grey;
  border-left-color: grey;
  border-right-color: lightgrey;
  border-bottom-color: lightgrey; }

.btn.vsco {
  position: relative;
  color: #fff;
  padding: 0.8em 1.4em 0.6em;
  background-color: #ae995a;
  border: 3px solid #ae995a;
  font-weight: 500;
  left: 0.4em;
  top: 1.2em;
  font-family: helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-sizing: border-box; }

.btn.vsco:hover {
  background-color: #ffffff;
  border: 3px solid #000000;
  color: #000000; }

.btn.tumblr {
  padding: 0.5rem 0.8rem;
  color: #fff;
  border-radius: 2px;
  position: relative;
  top: 1em;
  background-color: #36465d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.btn.tumblr:hover {
  animation: 2s linear  infinite rainbow-shadow;
  -moz-animation: 2s linear  infinite rainbow-shadow;
  -webkit-animation: 2s linear  infinite rainbow-shadow; }

/***********************************
Footer
***********************************/
footer {
  background-color: #28282B; }
  footer .portrait-wrap {
    display: flex;
    justify-content: center;
    background-color: black;
    height: auto; }
    footer .portrait-wrap .portrait {
      max-height: 250px; }
  footer p {
    text-align: center;
    font-family: Garamond, serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 6rem;
    padding-bottom: 6rem; }
  footer #footer__menu {
    background-color: blue;
    background-color: #2633ff; }
    footer #footer__menu li {
      margin-left: 0.5em;
      margin-right: 0.5em; }
      footer #footer__menu li a {
        background-color: #ffffff;
        text-align: center;
        color: #2a2a2a;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 4px solid #ff056b;
        top: -0.5em;
        position: relative;
        transition: 0.2s; }
      footer #footer__menu li a:hover {
        top: -1em;
        transition: 0.2s;
        box-shadow: 0 8px #ff056b;
        border-bottom: 4px solid #2e7d7a;
        box-shadow: 0 8px #2e7d7a; }
    footer #footer__menu li:last-child {
      margin-left: 0; }

@media screen and (min-width: 400px) {
  header .header__text-wrap {
    align-self: flex-end; }

  header .header-image {
    background-position: 40% -2em; }

  header .header__name {
    font-size: 2.2em; } }
@media screen and (min-width: 600px) {
  html {
    font-size: 18px; }

  header .header__name {
    font-size: 3em;
    font-weight: 400; }

  header .header-image {
    background-position: 40% -2em; }

  header .header__content-wrap .header__text-wrap {
    justify-content: space-between; }

  .work .tertiary.work__client .client-content {
    flex-direction: row; }
    .work .tertiary.work__client .client-content .offset-screenshot {
      width: 60%;
      margin-bottom: 0;
      margin-top: 1em;
      box-shadow: none;
      align-self: center; } }
@media screen and (min-width: 900px) {
  html {
    font-size: 20px; }

  header .header-image {
    background-position: 40% 2em; }

  header .header__name {
    font-size: 4em; }

  .work .secondary.work__client.work__client--buyers {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    max-height: 400px; }
    .work .secondary.work__client.work__client--buyers .work__client__img-wrapper {
      width: 50%;
      padding-top: 0; }

  .work .work__header.header__h2, .work .work__header.header__flavor {
    text-align: left;
    padding-left: 5%; }

  .secondary.work__client--buyers {
    background: linear-gradient(180deg, #f6f6f6, #eeeeee 35%, #cccccc 60%, #f6f6f6 70%);
    background-image: linear-gradient(180deg, #cccccc, #eeeeee 30%, #fafafa 40%, #f6f6f6 50%); }

  main .work .secondary.work__client > .work__client__img-wrapper {
    background-image: none; }

  #about #bio__text-wrap {
    padding-top: 9rem;
    padding-bottom: 9rem; }

  .work__client--buyers {
    padding-top: 6rem;
    padding-bottom: 6rem; } }
@media (min-width: 1200px) {
  .work__client--buyers {
    padding-top: 6rem;
    padding-bottom: 6rem; } }
@media (min-width: 1400px) {
  header .header-image {
    background-position: -6em 0em; }

  .work .secondary.work__client.work__client--buyers .client-details {
    margin-left: 0; } }
