/***********************************
main.scss
- last updated 2018-11-04
***********************************/
/***********************************
  Initial Imports
***********************************/
/***********************************
_variables.scss
Sass Variables
***********************************/
/***********************************
_keyframes.scss
Keyframes
***********************************/
@import url("lib/animate.min.css");
@-webkit-keyframes rainbow-shadow {
  0% {
    -webkit-box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8);
            box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8); }
  33% {
    -webkit-box-shadow: 0 2px 0.5em rgba(0, 255, 0, 0.8);
            box-shadow: 0 2px 0.5em rgba(0, 255, 0, 0.8); }
  66% {
    -webkit-box-shadow: 0 2px 0.5em rgba(0, 0, 255, 0.8);
            box-shadow: 0 2px 0.5em rgba(0, 0, 255, 0.8); }
  100% {
    -webkit-box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8);
            box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8); } }
@keyframes rainbow-shadow {
  0% {
    -webkit-box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8);
            box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8); }
  33% {
    -webkit-box-shadow: 0 2px 0.5em rgba(0, 255, 0, 0.8);
            box-shadow: 0 2px 0.5em rgba(0, 255, 0, 0.8); }
  66% {
    -webkit-box-shadow: 0 2px 0.5em rgba(0, 0, 255, 0.8);
            box-shadow: 0 2px 0.5em rgba(0, 0, 255, 0.8); }
  100% {
    -webkit-box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8);
            box-shadow: 0 2px 0.5em rgba(255, 0, 0, 0.8); } }

@-webkit-keyframes slide {
  0% {
    width: 10px; }
  50% {
    width: 100%; }
  100% {
    width: 10px; } }

@keyframes slide {
  0% {
    width: 10px; }
  50% {
    width: 100%; }
  100% {
    width: 10px; } }

@-webkit-keyframes header-hover {
  0% {
    -webkit-box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25);
            box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25); }
  50% {
    -webkit-box-shadow: 0 0 1em rgba(75, 1, 3, 0.1), 0 0 2em rgba(146, 1, 3, 0.25);
            box-shadow: 0 0 1em rgba(75, 1, 3, 0.1), 0 0 2em rgba(146, 1, 3, 0.25); }
  100% {
    -webkit-box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25);
            box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25); } }

@keyframes header-hover {
  0% {
    -webkit-box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25);
            box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25); }
  50% {
    -webkit-box-shadow: 0 0 1em rgba(75, 1, 3, 0.1), 0 0 2em rgba(146, 1, 3, 0.25);
            box-shadow: 0 0 1em rgba(75, 1, 3, 0.1), 0 0 2em rgba(146, 1, 3, 0.25); }
  100% {
    -webkit-box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25);
            box-shadow: -0.2em 0.2em 1em rgba(75, 1, 3, 0.1), -1em 1.8em 2em rgba(146, 1, 3, 0.25); } }

@keyframes blink {
  0% {
    display: inline; }
  49% {
    display: inline; }
  50% {
    display: none; }
  100% {
    display: none; } }

@-webkit-keyframes blink {
  0% {
    display: inline; }
  49% {
    display: inline; }
  50% {
    display: none; }
  100% {
    display: none; } }

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #fdfdfc;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-family: Europa, "Avenir Next", sans-serif;
  overflow-x: hidden; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: 2px;
  font-weight: 700;
  color: #272AC5; }

h2 {
  font-size: 2em; }

h3 {
  font-weight: 700;
  font-size: 2.2em; }

h4 {
  font-size: 0.8em; }

a {
  text-decoration: none; }

i {
  margin-left: 6px; }

li {
  list-style: none; }

/***********************************
  Header
***********************************/
header {
  background-color: #FFF8F2;
  background-color: #fdfdfc;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 500px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  header .header__svg-wrap {
    width: 100%;
    height: 60%;
    max-height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1rem 1rem 0; }
    @media (min-width: 600px) {
      header .header__svg-wrap {
        padding: 2rem 2rem 0; } }
    header .header__svg-wrap svg {
      background-color: #160130;
      padding: 1rem; }
      @media (min-width: 600px) {
        header .header__svg-wrap svg {
          padding: 2rem; } }
  header .header__content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  header .header__text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    z-index: 2;
    padding: 2rem; }
    header .header__text-wrap .header__name {
      color: #0D1F2A;
      text-align: inherit;
      letter-spacing: -1px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 50px;
      font-size: 1.8em; }
      @media (min-width: 900px) {
        header .header__text-wrap .header__name {
          margin-bottom: 100px; } }
    header .header__text-wrap .header__summary {
      color: #FF0052;
      font-weight: 700;
      width: 100%;
      letter-spacing: 3px;
      text-align: right; }

/***********************************
  Main
***********************************/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /***********************************
    Main Bio
  ***********************************/
  /***********************************
    Work
  ***********************************/
  /***********************************
    Social Links
  ***********************************/ }
  main .bio {
    padding: 3em 5%;
    background-color: #0D1F2A;
    z-index: 1;
    font-family: Inconsolata, monospace; }
    main .bio .portrait-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: auto;
      position: relative;
      margin: 0;
      z-index: 3; }
      main .bio .portrait-wrap .portrait {
        max-height: 6rem;
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 0.5rem #333;
                box-shadow: 0 2px 0.5rem #333;
        -webkit-box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.5);
                box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.5); }
    main .bio h2 {
      font-size: inherit; }
    main .bio .btn {
      outline: none; }
    main .bio .btn.buzzshift {
      padding: 0.3em 0.4em;
      border-radius: 6px;
      color: inherit;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      background-color: RGBA(255, 186, 0, 1);
      -webkit-box-shadow: 0 0 3em RGBA(214, 116, 0, 1);
              box-shadow: 0 0 3em RGBA(214, 116, 0, 1); }
      main .bio .btn.buzzshift:hover, main .bio .btn.buzzshift:focus {
        -webkit-box-shadow: none;
                box-shadow: none; }
    main .bio *:not(div) {
      display: inline; }
    main .bio .brac {
      color: #7EC9C2; }
    main .bio .el {
      color: #DC5B63; }
    main .bio .arrow-down {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 0;
      height: 0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 10px solid #8CB2B2;
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg); }
    main .bio #bio__text-wrap {
      padding-top: 3em;
      padding-bottom: 3em;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto; }
      main .bio #bio__text-wrap .bio__text-block {
        padding-bottom: 1em; }
        main .bio #bio__text-wrap .bio__text-block:last-child {
          padding-bottom: 0; }
      main .bio #bio__text-wrap .cursor {
        color: #FE03FF;
        font-weight: 700;
        font-size: 1em;
        -webkit-animation: 1s linear 1s blink;
        animation: 1s linear 1s blink; }
      main .bio #bio__text-wrap p, main .bio #bio__text-wrap h2 {
        font-family: Inconsolata, monospace;
        letter-spacing: 0px; }
  main .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #2a2a2a;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px; }
    main .work .h2-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      overflow: hidden; }
      main .work .h2-wrapper .header__h2 {
        margin-top: 6em;
        margin-bottom: 6em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: auto;
        background-color: #fdfdfc;
        z-index: -1; }
        main .work .h2-wrapper .header__h2 p {
          -webkit-transform: rotateZ(-19deg);
                  transform: rotateZ(-19deg);
          font-family: Europa, "Avenir Next", sans-serif;
          font-weight: 700;
          font-size: 4em;
          line-height: 0; }
    main .work .work__client {
      background-color: #fdfdfc;
      color: #2a2a2a;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 3em;
      max-width: 600px;
      z-index: 0; }
      main .work .work__client img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
                box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
        -webkit-transition: 0.25s;
        transition: 0.25s; }
        main .work .work__client img:hover, main .work .work__client img:focus {
          -webkit-box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.25);
                  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.25);
          -webkit-box-shadow: 0 0.5rem 0.75rem rgba(255, 0, 82, 0.5);
                  box-shadow: 0 0.5rem 0.75rem rgba(255, 0, 82, 0.5);
          -webkit-transition: 0.25s;
          transition: 0.25s;
          top: -1px;
          position: relative; }
      main .work .work__client .client-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 900px;
        background-color: #fdfdfc;
        margin-top: 0.75em;
        margin-bottom: 1.5em; }
        main .work .work__client .client-details .client-details__name {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          line-height: 1;
          letter-spacing: 2px;
          text-transform: uppercase; }
        main .work .work__client .client-details .client-details__text--in-progress {
          font-size: 0.8em;
          color: #777777;
          color: rgba(61, 59, 59, 0.5); }
        main .work .work__client .client-details .client-details__link {
          -ms-flex-item-align: center;
              align-self: center;
          bottom: 0;
          color: #2a2a2a;
          margin-top: 1.5em;
          -webkit-box-flex: 0;
              -ms-flex: 0;
                  flex: 0;
          position: relative;
          width: 8em;
          vertical-align: middle;
          text-align: center;
          height: 40px;
          line-height: 40px;
          background-color: #ffffff;
          -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.18);
                  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.18);
          border-radius: 6px; }
          main .work .work__client .client-details .client-details__link:hover, main .work .work__client .client-details .client-details__link:focus {
            -webkit-box-shadow: 0 8px 12px rgba(255, 0, 82, 0.21), 0 1px 4px rgba(255, 0, 82, 0.28);
                    box-shadow: 0 8px 12px rgba(255, 0, 82, 0.21), 0 1px 4px rgba(255, 0, 82, 0.28);
            top: -1px; }
  main .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fdfdfc;
    margin-top: 3em;
    margin-bottom: 6em; }
    main .social-links .social-links__title {
      margin-left: 2%;
      width: 90%;
      color: black;
      -webkit-transform: rotateZ(-5deg);
              transform: rotateZ(-5deg);
      margin-bottom: 0.5em; }
    main .social-links .social-links__buttons-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 650px; }
      main .social-links .social-links__buttons-wrap .btn {
        letter-spacing: 1px;
        margin-right: 0.5em;
        margin-top: 0.5em; }
      main .social-links .social-links__buttons-wrap .btn--twitter {
        color: #fff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        background: -webkit-gradient(linear, left top, left bottom, from(RGBA(45, 199, 245, 1)), to(RGBA(5, 159, 245, 1)));
        background: linear-gradient(to bottom, RGBA(45, 199, 245, 1), RGBA(5, 159, 245, 1));
        z-index: 1;
        position: relative;
        display: inline-block;
        border-radius: 25px;
        width: 150px;
        height: 50px;
        -webkit-box-shadow: 0px 6px 10px 1px RGBA(5, 159, 245, 0.5);
                box-shadow: 0px 6px 10px 1px RGBA(5, 159, 245, 0.5);
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        main .social-links .social-links__buttons-wrap .btn--twitter .name {
          color: #fff;
          position: relative;
          text-align: center;
          display: inline-block;
          width: 100%;
          vertical-align: text-top;
          font-weight: 400;
          top: -7px; }
        main .social-links .social-links__buttons-wrap .btn--twitter .highlight {
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(RGBA(5, 159, 245, 0.1)));
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), RGBA(5, 159, 245, 0.1));
          position: relative;
          margin: 0 auto;
          width: 135px;
          height: 15px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          -webkit-box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.1);
                  box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.1); }
        main .social-links .social-links__buttons-wrap .btn--twitter .lowlight {
          height: 0px;
          position: inherit;
          width: 135px;
          top: -0.75em;
          margin: 0 auto;
          -webkit-box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.5);
                  box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.5); }
        main .social-links .social-links__buttons-wrap .btn--twitter .lowlight2 {
          height: 0px;
          position: inherit;
          width: 115px;
          top: -0.75em;
          margin: 0 auto;
          -webkit-box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.7);
                  box-shadow: 0 0 16px 2px rgba(255, 255, 255, 0.7); }
        main .social-links .social-links__buttons-wrap .btn--twitter:hover, main .social-links .social-links__buttons-wrap .btn--twitter:focus {
          -webkit-transition: 0.2s;
          transition: 0.2s;
          top: -2px;
          -webkit-box-shadow: 0px 10px 16px 1px RGBA(5, 159, 245, 0.5);
                  box-shadow: 0px 10px 16px 1px RGBA(5, 159, 245, 0.5); }
          main .social-links .social-links__buttons-wrap .btn--twitter:hover .name, main .social-links .social-links__buttons-wrap .btn--twitter:focus .name {
            opacity: 1;
            -webkit-transition: 0.2s;
            transition: 0.2s; }
      main .social-links .social-links__buttons-wrap .btn--github {
        color: #000;
        top: 0.4em;
        position: relative;
        padding: 0.5em;
        font-family: monospace;
        background-color: darkgrey;
        border: medium solid grey;
        border-top: medium solid lightgrey;
        border-left: medium solid lightgrey; }
        main .social-links .social-links__buttons-wrap .btn--github:hover, main .social-links .social-links__buttons-wrap .btn--github:active, main .social-links .social-links__buttons-wrap .btn--github:focus {
          border-top-color: grey;
          border-left-color: grey;
          border-right-color: lightgrey;
          border-bottom-color: lightgrey; }
      main .social-links .social-links__buttons-wrap .btn--vsco {
        position: relative;
        color: #fff;
        padding: 0.8em 1.4em 0.6em;
        background-color: #ae995a;
        border: 3px solid #ae995a;
        font-weight: 400;
        top: 1.2em;
        font-family: helvetica, Arial, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        main .social-links .social-links__buttons-wrap .btn--vsco:hover, main .social-links .social-links__buttons-wrap .btn--vsco:focus {
          background-color: #ffffff;
          border: 3px solid #000000;
          color: #000000; }
      main .social-links .social-links__buttons-wrap .btn--tumblr {
        padding: 0.5rem 0.8rem;
        color: #fff;
        border-radius: 2px;
        position: relative;
        background-color: #36465d;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
        main .social-links .social-links__buttons-wrap .btn--tumblr:hover, main .social-links .social-links__buttons-wrap .btn--tumblr:focus {
          animation: 2s linear infinite rainbow-shadow;
          -moz-animation: 2s linear infinite rainbow-shadow;
          -webkit-animation: 2s linear infinite rainbow-shadow; }
      main .social-links .social-links__buttons-wrap .btn--linkedin {
        padding: 0.5em 1em;
        color: #ffffff;
        background-color: #0077B5;
        color: #fff;
        background-color: #287bbc;
        border: 1px solid #1b5480;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#287bbc), to(#23639a));
        background-image: linear-gradient(to top, #287bbc 0%, #23639a 100%);
        border-radius: 3px; }
        main .social-links .social-links__buttons-wrap .btn--linkedin:hove, main .social-links .social-links__buttons-wrap .btn--linkedin:focus {
          background-color: #2672ae;
          background-image: -webkit-gradient(linear, left bottom, left top, from(#2672ae), to(#1e4f7e));
          background-image: linear-gradient(to top, #2672ae 0%, #1e4f7e 100%);
          -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }

/***********************************
Footer
***********************************/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #28282B; }
  footer .fin {
    text-align: center;
    font-family: "Source Serif", Garamond, serif;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 3em;
    padding-bottom: 3em; }
  footer .footer__credits {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .footer__credits > * {
      -webkit-box-flex: 1;
          -ms-flex: 1 1;
              flex: 1 1;
      -ms-flex-item-align: center;
          align-self: center;
      padding: 0 5%; }
    footer .footer__credits li:not(a) {
      color: RGBA(255, 255, 255, 0.75); }
    footer .footer__credits h3 {
      text-align: right;
      font-weight: 300; }
    footer .footer__credits li {
      padding-top: 4px;
      padding-bottom: 4px; }
    footer .footer__credits a {
      border-bottom: 1px solid white;
      color: #FFFFFF; }
  footer .footer__menu {
    background-color: #272AC5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    footer .footer__menu li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-left: 0.5em;
      margin-right: 0.5em; }
      footer .footer__menu li a {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        background-color: #ffffff;
        text-align: center;
        color: #2a2a2a;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 4px solid #ff056b;
        top: -0.5em;
        position: relative;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        footer .footer__menu li a:hover, footer .footer__menu li a:focus {
          top: -1em;
          -webkit-transition: 0.2s;
          transition: 0.2s;
          -webkit-box-shadow: 0 8px #ff056b;
                  box-shadow: 0 8px #ff056b;
          border-bottom: 4px solid #2E7D7A;
          -webkit-box-shadow: 0 8px #2E7D7A;
                  box-shadow: 0 8px #2E7D7A; }
    footer .footer__menu li:not(:first-child) {
      margin-left: 0; }

/***********************************
  Final Imports
***********************************/
/* <- Override Animate.css here -> */
/***********************************
_media-queries.scss
Media Queries
***********************************/
@media screen and (min-width: 400px) {
  header .header__text-wrap .header__name {
    font-size: 2.2em; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 18px; }
  header {
    height: 98vh;
    min-height: 90%; }
  header .header__name {
    font-size: 3.3em;
    font-size: 3rem; } }

@media screen and (min-width: 900px) {
  html {
    font-size: 20px; }
  header .header__text-wrap .header__name {
    font-size: 3.5rem; }
  #about #bio__text-wrap {
    padding-bottom: 4.5em; }
  main .work .work__client .client-details {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3em; }
  footer .footer__credits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  footer .footer__credits > *:first-child {
    border-right: 1px solid white;
    border-right: 1px solid RGBA(255, 255, 255, 0.75); } }

@media (min-width: 900px) {
  * {
    font-weight: 300;
    letter-spacing: 0.5px; }
  main .work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
    main .work .work__client {
      min-width: 400px; }
  main .work > :nth-child(even) {
    margin-right: 2%; }
  main .social-links {
    margin-top: 0; } }

/*# sourceMappingURL=main.css.map */
