@media screen and (min-width: 400px) {
  
  header .header__text-wrap {
    align-self: flex-end;
  }

  header .header-image {
    background-position: 40% -2em;
  }

  header .header__name {
    font-size: 2.2em;
  }
}



@media screen and (min-width: 600px) {

  html {
    font-size: 18px;
  }

   header .header__name {
    font-size: 3em;
    font-weight: 400;
  }

  header .header-image {
    background-position: 40% -2em;
  }

  header .header__summary {
    // align-self: flex-end;
    // text-align: right;
  }
  
  header .header__content-wrap .header__text-wrap {
    justify-content: space-between;
  }


  .work .tertiary.work__client .client-content {
    flex-direction: row;

    .client-details {
      width: 40%;
    }

    .offset-screenshot {
      width: 60%;
      margin-bottom: 0;
      margin-top: 1em;
      // max-width: 60%;
      // align-items: flex-end;
      box-shadow: none;
      align-self: center;

    }
  
  }
  
}

@media screen and (min-width: 900px) { 

  html {
    font-size: 20px;
  }
  
  header .header-image {
    background-position: 40% 2em;
  }

  header .header__name {
    font-size: 4em;
  }

  .work .secondary.work__client.work__client--buyers {
    flex-direction:row;
    align-items: center;
    display: flex;

    .work__client__img-wrapper {
      width: 60%;
      align-self: center;
      padding-top: 0;
    }

    .client-details {
      align-self: center;

    }
  }
  


  .work .tertiary-wrap .tertiary.work__client {    
  }



  .work .work__header.header__h2, .work .work__header.header__flavor {
    text-align: left;
    padding-left: 5%;
  }

  .secondary.work__client--buyers {
     background: linear-gradient(180deg, $primary-bg, #eee 35%, #ccc 60%, $primary-bg 70%);
     background-image: linear-gradient(180deg, #ccc, #eee 30%, #fafafa 40%, $primary-bg 50%);
     
  }

  main .work .secondary.work__client > .work__client__img-wrapper {
      background-image: none;
  }

  #about #bio__text-wrap {
    padding-top: $section-spacing * 1.5; 
    padding-bottom: $section-spacing * 1.5;

  }

  #work .client-details {  }

  .work__client--buyers {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
  }


  
}

@media (min-width: 1200px) {

  header .header__content-wrap .header__text-wrap {
    // justify-content: flex-start;
    
    .header__summary {
      // margin-top: 2em;
      // color: #6FC2B0;
      // color: #A4F6E4;  
    }
  }

  


  #work .work__header.header__h2 {
    // font-size: 3em;
    // font-weight: 200;
  }

  #about #bio__text-wrap {
    // padding-top: $section-spacing * 2; 
    // padding-bottom: $section-spacing * 2;

  }
  #work .client-details {
    // padding-top: $section-spacing * 2; 
    // padding-bottom: $section-spacing * 2;
    // $section-spacing: 12em;
  }

  .work__client--buyers {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
  }


  
}

@media (min-width: 1400px) {
   header .header-image {
    background-position: -6em 0em;
  }
}


@media (min-width: 1800px) {}





