/***********************************
_media-queries.scss
Media Queries
***********************************/
@media screen and (min-width: 400px) {

  header .header__text-wrap {
    align-self: flex-end;
  }

  header .header-image {
    background-position: 40% -2em;
  }

  header .header__name {
    font-size: 2.2em;
  }
}



@media screen and (min-width: 600px) {

  html {
    font-size: 18px;
  }

  header {
    height: 98vh;
  }

  header .header__name {
    font-size: 3em;
    font-weight: 400;
  }

  header .header-image {
    background-position: 40% -2em;
  }

  header .header__content-wrap .header__text-wrap {
    justify-content: space-between;
  }


  .work .tertiary.work__client .client-content {
    flex-direction: row;

    .offset-screenshot {
      width: 60%;
      margin-bottom: 0;
      margin-top: 1em;
      box-shadow: none;
      align-self: center;

    }

  }

}

@media screen and (min-width: 900px) {

  html {
    font-size: 20px;
  }

  header .header-image {
    background-position: 40% 2em;
  }

  header .header__name {
    font-size: 4em;
  }



  #about #bio__text-wrap {
    padding-top: $section-spacing * 1.5;
    padding-bottom: $section-spacing * 1.5;

  }

  main .work .tertiary-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1400px;
    // align-self: center;
    margin-left: auto;
    margin-right: auto;

    .work__client.tertiary {
      margin: 0;
      width: 30%;
      max-width: 395px;
      .client-content {
        flex: 1 1 auto;
      }
      .client-details__type {
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }

  main .work .work__client {
    img {
      max-width: 800px;
    }
    .client-details {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: $section-spacing;
    }
  }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
   header .header-image {
    background-position: -6em 0em;
  }

  .work .secondary.work__client.work__client--buyers .client-details {
    margin-left: 0;
  }

}


@media (min-width: 1800px) {}
