/***********************************
_media-queries.scss
Media Queries
***********************************/
@media screen and (min-width: 400px) {

  header .header__text-wrap {
    
  }

  header .header-image {
    background-position: 40% -2em;
  }

  header .header__name {
    font-size: $font-xxlarge * 2;
  }
} // @media

@media screen and (min-width: 600px) {

  html {
    font-size: 18px;
  }

  header {
    height: 98vh;
  }

  header .header__name {
    // font-size: 3em;
    font-weight: 400;
  }

  header .header-image {
    background-position: 40% -2em;
  }

  header .header__content-wrap .header__text-wrap {
    justify-content: space-between;
  }

} // @media

@media screen and (min-width: 900px) {

  html {
    font-size: 20px;
  }

  header .header-image {
    background-position: 40% 2em;
  }

  header .header__name {
    font-size: 4em;
  }

  #about #bio__text-wrap {
    padding-top: $section-spacing * 1.5;
    padding-bottom: $section-spacing * 1.5;
  }

  main .work .work__client {
    max-width: 800px;

    .client-details {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: $section-spacing;
    }
  }
} // @media

@media (min-width: 1200px) {

  * {
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  main .work {
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: start;

    .work__client {
      min-width: 43vw;
      max-width: 45vw;
    }
  } // .work

  main .work >:nth-child(even) {
    margin-right: 2%;
  }
} // @media

@media (min-width: 1400px) {
   header .header-image {
    background-position: -6em 0em;
  }
} // @media

@media (min-width: 1800px) {} // @media



@media (min-height: 500px) {
  header .header__content-wrap .header__text-wrap {
    padding-top: 0;
  }
}
