/***********************************
_variables.scss
Sass Variables
***********************************/

$heading: #19181D;
$text: #19181D;
$bg: #FFFEFD;
$blue: #0005EC;

$lh: 26px;

$min-xs:   "screen and (min-width: 400px)";
$min-sm:   "screen and (min-width: 600px)";
$min-md:   "screen and (min-width: 800px)";
$min-lg:   "screen and (min-width: 1000px)";
$min-xl:   "screen and (min-width: 1200px)";
$min-xxl:  "screen and (min-width: 1400px)";
$min-xxxl: "screen and (min-width: 1600px)";

%headingExtraLightItalic {
	font-family: 'Inter', 'Avenir Next', Helvetica, arial, sans-serif;
	font-style:  italic;
	font-weight: 200;
}
%headingBoldItalic {
	font-family: 'Inter', 'Avenir Next', Helvetica, arial, sans-serif;
	font-style:  italic;
	font-weight: 700;
}
%headingBlackItalic {
	font-family: 'Inter', 'Avenir Next', Helvetica, arial, sans-serif;
	font-style:  italic;
	font-weight: 900;
}
%text {
	font-family: 'Inter', 'Avenir Next', Helvetica, arial, sans-serif;
	font-style:  normal;
	font-weight: 200;
}
%h1 {
	@extend %headingExtraLightItalic;
	color: $heading;
	font-size: 1.6rem;
	letter-spacing: -2px;
	line-height: 1;
	@media #{$min-xs} {
		font-size: 2rem;
	}
}
%h2 {
	@extend %headingBlackItalic;
	color: $heading;
	font-size: 300px;
	letter-spacing: -12px;
	line-height: 300px;
}
%h3 {
	@extend %headingBoldItalic;
	color: $heading;
	font-size: 2rem;
	letter-spacing: -1px;
	line-height: $lh * 1.6;
	@media #{$min-lg} {
        font-size: 2.5rem;
		letter-spacing: -2px;
		line-height: $lh * 2;
	}
    @media #{$min-xl} {
        font-size: 3rem;
        line-height: $lh * 2.4;
    }
}
%h4 {
	@extend %headingBoldItalic;
	color: $heading;
	font-size: 1rem;
	letter-spacing: 0.57px;
	line-height: 1rem;
}
%paragraph {
	@extend %text;
	color: $text;
	font-size: 1rem;
	letter-spacing: -0.7px;
	line-height: $lh;
}
%small {
	@extend %headingBoldItalic;
	color: $heading;
	font-size: 0.7rem;
	letter-spacing: 0;
	line-height: $lh;
	margin-bottom: $lh * 0.5;
	@media #{$min-xl} {
		font-weight: 200;
	}
}
%link {
	position: relative;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	font-style: italic;
	color: $heading;
	&:after {
		content: "";
		background-color: $text;
		position: absolute;
		top: 1.1rem;
		left: 0;
		width: 100%;
		height: 1px;
		z-index: -1;
	}
    &:hover,
    &:focus {
		&:after {
			background-color: $blue;
			height: 2px
		}
	}
}

%shadow {
	box-shadow: 0 2px 30px 5px rgba(143, 142, 173, 0.7);
}
%transition {
	transition: all 200ms ease-in-out;
}
%grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: $lh;
}
%grid-slim {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
