/***********************************
_variables.scss

Sass Variables
***********************************/

// $primary-color: #2E2E2E;
// $primary-color: #4a4a4a;
$primary-color: #2a2a2a;
$primary-bg: #f6f6f6;
$primary-bg: #ffffff;
$section-spacing: 6rem;
$green: #418965;
$black: #000000;
$red: #ff0036;
$blue: #2633ff;
$white: #FFFFFF;
$pink: #ffe8e2;
$blue: #2633FF;
$red: #E20000;
$light-blue: #0082DD;
$yellow: #EED600;
$green: #2E7D7A;
$orange: #FF6F20;

$sansfonts: Europa, Futura, "Avenir Next", sans-serif;
$seriffonts: Garamond, serif;
$monofonts: Inconsolata, monospace;

$client-ww-yellow: #FEC524;
$client-bs-green: #B4D335;
$client-bs-blue: #161843;
$client-raleys-red: #FF0036;
$client-ivie-green: #87A93E;
$client-deca-blue: #447FC6;
$client-als-red: #E51837;

$highlight: 1px solid orange;
