/***********************************
_variables.scss
Sass Variables
***********************************/

$primary-text: #19181D;
$primary-bg: #FCFBFA;
$light-blue: #DFE4F0;
$light-green: #E5F4ED;
$light-orange: #F4EEE5;
$light-purple: #E9E5F4;
$blue: #F0F3FB;
$green: #E3F1EB;
$red: #F61436;

%headingExtraLight {
	font-family: 'Inter', 'Avenir Next', sans-serif;
	font-style:  italic;
	font-weight: 200;
}
%headingLight {
	font-family: 'Inter', 'Avenir Next', sans-serif;
	font-style:  italic;
	font-weight: 300;
}
%heading {
	font-family: 'Inter', 'Avenir Next', sans-serif;
	font-style:  normal;
	font-weight: 400;
}
// %headingBold {
// 	font-family: 'Inter', 'Avenir Next', sans-serif;
// 	font-style:  normal;
// 	font-weight: 700;
// }
%headingBoldItalic {
	font-family: 'Inter', 'Avenir Next', sans-serif;
	font-style:  italic;
	font-weight: 700;
}
%headingBlack {
	font-family: 'Inter', 'Avenir Next', sans-serif;
	font-style:  italic;
	font-weight: 900;
}
%text {
	font-family: 'Inter', 'Avenir Next', sans-serif;
	font-style:  normal;
	font-weight: 300;
}
%h1 {
	@extend %headingExtraLight;
	color: $primary-text;
	font-size: 2rem;
	letter-spacing: -2px;
	line-height: 2.3rem;
}
%h2 {
	@extend %headingBlack;
	color: $primary-text;
	font-size: 300px;
	letter-spacing: -12px;
	line-height: 300px;
}
%h3 {
	@extend %headingExtraLight;
	color: $primary-text;
	font-size: 2rem;
	letter-spacing: -1px;
	line-height: 2.1rem;
	text-transform: uppercase;
	@media (min-width: 990px) {
		font-size: 3rem;
		letter-spacing: -2px;
		line-height: 3.1rem;
	}
}
%h4 {
	@extend %headingBoldItalic;
	color: $primary-text;
	font-size: 1rem;
	letter-spacing: 0.57px;
	line-height: 1rem;
}
%paragraph {
	@extend %text;
	color: $primary-text;
	font-size: 1rem;
	letter-spacing: -0.2px;
	line-height: 1.3rem;
}
%small {
	@extend %headingLight;
	color: #4A4A4A;
	font-size: 0.9rem;
	letter-spacing: -0.2px;
	line-height: 1.3rem;
}
%lede {
	@extend %heading;
	color: $primary-text;
	font-size: 20px;
	letter-spacing: -0.8px;
	line-height: 26px;
}
%link {
	position: relative;
	text-decoration: none;
	&:after {
		@extend %transition;
		background-color: #A3A0A9;
		content: "";
		position: absolute;
		bottom: 1px;
		left: 0;
		width: 100%;
		height: 1px;
		z-index: -1;
	}
	&:hover {
		&:after {
			background-color: $red;
		}
	}
}
%footer-text {
	@extend %paragraph;
	@extend %transition;
	font-style: italic;
	font-size: 16px;
}
%transition {
	transition: all 0.2s ease-in-out;
}
%shadow {
	box-shadow: 0 2px 17px 0 rgba(143,142,173,0.47);
}
%grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1em;
}
