/***********************************
main.scss
***********************************/

@import "fonts";
@import "variables"; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 20px;
  cursor: default;
  scroll-behavior: smooth;
}
body {
  background-color: $bg;
  background-color: #F7F3F3;
  font-family: 'Inter var', 'Inter', sans-serif;
  font-variation-settings: 'wght' 200;
  font-weight: 200;
  color: $heading;
  max-width: 1560px;
  padding-right: $lh;
  padding-left: $lh;
  @media #{$min-md} {
    margin-right: auto;
    margin-left: auto;
  }
}
h1 {
  @extend %h1;
}
h2 {
  @extend %h2;
}
h3 {
  @extend %h3;
}
h4 {
  @extend %h4;
}
p {
  @extend %paragraph;
}
small {
  @extend %small;
}
ul {
  list-style: none;
}
/***********************************
  Header
***********************************/
header {
  @extend %grid;
  padding-top: $lh;
  padding-bottom: $lh;
  overflow: hidden;
  @media #{$min-lg} {
    height: 90vh;
    margin-bottom: $lh * 8;
  }
  figure {
    border-radius: 100px;
    box-shadow: -2px 2px 30px 0 rgba(78,29,29,0.16), 6px 5px 45px 0 rgba(33,38,67,0.24);
    grid-column: 1 / 12 span;
    height: 200px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    @media #{$min-lg} {
      border-radius: 0;
      box-shadow: none;
      grid-column: 1 / 7 span;
      // height: 500px;
      width: 100%;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      height: 100%;
    }
    img {
      height: 100%;
      width: auto;
      @media #{$min-lg} {
        transform: translate(var(--left));
        opacity: var(--opacity);
        margin-right: auto;
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .header-text {
    grid-column: 2 / 12;
    width: 100%;
    @media #{$min-lg} {
      display: grid;
      grid-column: 9 / 12;
      grid-template-rows: 1fr 1fr;
    }
  }
  .header-text__name {
    position: relative;
    @media #{$min-lg} {
      grid-row: 1 / 2;
    }
  }
  .header-text__bio {
    position: relative;
    font-style: italic;
    @media #{$min-lg} {
      opacity: calc(var(--opacity) - 0.6);
      grid-row: 2 / 2;
      &:first-of-type::first-letter {
        font-size: 1.8rem;
      }
    }
    a {
      @extend %link;
    }
  }
  @media #{$min-lh} {
    .fadeLeft,
    .fadeRight {
      right: var(--left);
    }
  }
} 
#preview {
  transition: opacity 250ms ease-in-out;
  top: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  opacity: 0;
  // background-position: center center;
  @media #{$min-md} {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
/***********************************
  Main
***********************************/
main {
  @extend %grid;
  .main__title {
    grid-column: 2 / 12;
    margin-bottom: $spacer;
    margin-bottom: 10vw;
    z-index: -2;
    // font-style: normal;
    // font-family: 'Inter var', sans-serif;
    // font-variation-settings: 'wght' 500;
    @media #{$min-lg} {
      grid-column: 1 / 12 span;
    }
  }
  .clients {
    grid-column: 2 / 12;
    @media #{$min-lg} {
      grid-column: 1 / 12 span;
    }
  }
  .client {
    position: relative;
    overflow: hidden;
    text-align: right;
    padding-bottom: 2.5vh;
    // @media #{$min-lg} {
    //   padding-bottom: 2.5vh; 
    // }
  }
  .client-name {
    --wght: 400;
    @extend %fancy;
    @extend %heading;
    display: inline-block;
    font-size: 5vw;
    // font-style: italic;
    letter-spacing: -0.01vw;
    line-height: 1.2;
    // margin-right: 1rem;
    font-variation-settings: 'wght' var(--wght);
    @media #{$min-md} {
      line-height: 0.9;
      font-size: 4vw;
    }
    @media #{$min-lg} {
      font-size: 4vw;
      text-transform: uppercase;
      letter-spacing: -3px;
    }
    @media #{$min-lg} {
      font-size: 56px;
    }
  }
} 

/***********************************
Footer
***********************************/
footer {
  @extend %grid;
  padding-top: 70px;
  padding-bottom: 70px;
  @media #{$min-lg} {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
  }
  .contact {
    grid-column: 2 / 12;
  }
  h3 {
    margin-bottom: $lh;
  }
  li {
    font-size: 18px;
    margin-bottom: 18px;
    span {
      font-style: italic;
    }
  } 
  a {
    @extend %link;
    // font-weight: 200;
  }
}  