/***********************************
main.scss
***********************************/

@import "fonts";
@import "variables"; // Sass variable

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
	background-color: $primary-bg;
  color: $primary-text;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
}
h1 {
  @extend %h1;
}
h2 {
  @extend %h2;
}
h3 {
  @extend %h3;
}
h4 {
  @extend %h4;
}
p {
  @extend %paragraph;
}
small {
  @extend %small;
}

/***********************************
  Header
***********************************/
header {
  @extend %grid;
  padding-top: 97px;
  padding-bottom: 122px;
  .header__image {
    border-radius: 100px;
    box-shadow: -2px 2px 30px 0 rgba(78,29,29,0.16), 6px 5px 45px 0 rgba(33,38,67,0.24);
    grid-column: 6 / 8;
    height: 200px;
    margin-bottom: 73px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  .header__text-wrap {
    max-width: 400px;
    grid-column: 7 / 11;
  }
  .header__name {
    margin-bottom: 16px;
  }
  .header__bio {
    @extend %small;
  }
} 

/***********************************
  Main
***********************************/
main {
  position: relative;
  .work {
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(90deg);
    left: 55%;
    top: 40px;
    display: inline-block;
    z-index: 0;
  }
  .client {
    @extend %grid;
    padding-top: 210px;
    padding-bottom: 210px;
    overflow: hidden;
    &--cityparks {
      background-color: $light-green;
    }
    &--fedcity {
      background-color: $light-blue;
    }
    &--fike {
      background-color: $light-orange;
    }
    &--veda {
      background-color: $light-purple;
    }
  }
  .client-info {
    grid-column-start: 3;
    grid-column-end: 6;
    position: relative;
    width: 370px;
    z-index: 1;
  }
  .client-info__category {
    display: inline-block;
    font-size: 14px;
    left: -12px;
    position: absolute;
    top: 6px;
    transform-origin: 0 0;
    transform: rotate(90deg);
    span {
      display: inline-block;
      transform: rotate(180deg);
    }
  }
  .client-info__name {
    margin-bottom: 3rem;
  }
  .client-info__text {
    margin-bottom: 1.3rem;

  }
  .client-info__link {
    @extend %link;
    @extend %paragraph;
  }
  .client-info__image {
    @extend %shadow;
    grid-column-start: 7;
    grid-column-end: 9;
    width: 500px;
    z-index: 1;
  }
} 

/***********************************
Footer
***********************************/
footer {
  @extend %grid;
  padding-top: 70px;
  padding-bottom: 70px;
  .contact {
    grid-column: 8 / 10;
  }
  h4 {
    margin-bottom: 18px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 18px;
    @extend %footer-text;
  }
  a {
    @extend %link;
    color: $primary-text;
    // font-weight: 300;
  }
} 