/***********************************
main.scss
***********************************/

@import "fonts";
@import "variables"; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'Inter', 'Avenir Next', Helvetica, arial, sans-serif;
  font-size: 20px;
  line-height: $lh;
}
body {
  background-color: $bg;
  color: $heading;
  @media #{$min-md} {
    margin-right: $lh;
    margin-left: $lh;
  }
}
h1 {
  @extend %h1;
}
h2 {
  @extend %h2;
}
h3 {
  @extend %h3;
}
h4 {
  @extend %h4;
}
p {
  @extend %paragraph;
}
small {
  @extend %small;
}

/***********************************
  Header
***********************************/
header {
  @extend %grid;
  padding-top: 97px;
  padding-bottom: 122px;
  img {
    border-radius: 100px;
    box-shadow: -2px 2px 30px 0 rgba(78,29,29,0.16), 6px 5px 45px 0 rgba(33,38,67,0.24);
    grid-column: 1 / 12 span;
    height: 200px;
    margin-bottom: 73px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  .header__text-wrap {
    grid-column: 2 / 12;
    width: 100%;
    @media #{$min-lg} {
      max-width: 400px;
      grid-column: 7 / 12;
    }
  }
  .header__name {
    margin-bottom: 16px;
  }
  .header__bio {
    @extend %paragraph;
    font-style: italic;
  }
} 

/***********************************
  Main
***********************************/
main {
  position: relative;
  h2 {
    display: inline-block;
    left: 220px;
    opacity: 0.04;
    position: absolute;
    top: 40px;
    transform-origin: 0 0;
    transform: rotate(90deg);
    z-index: 0;
    @supports (-webkit-text-stroke: 2px $heading) {
      -webkit-text-stroke-color: $heading;
      -webkit-text-stroke-width: 2px;
      color: transparent;
    }
    @media #{$min-lg}  {
      opacity: 0.1;
    }
  }
  .client {
    @extend %grid;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    @media #{$min-md} { 
        padding-top: 0;
        padding-bottom: 0;
        margin-top: $lh;
        &:last-child {
          margin-bottom: $lh;
        }
    }
    @media #{$min-xxxl} {
      max-width: 1560px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .client-info {
    grid-column: 2 / 12;
    position: relative;
    z-index: 1;
    width: 100%;
    @media #{$min-md} {
      grid-column: 2 / 6;
      align-self: center;
    }
  }
  .client-info__name {
    margin-bottom: 1rem;
    @media #{$min-lg} { 
      margin-bottom: 5rem;
    }
  }
  .client-info__category {
    display: inline-block;
    @media #{$min-xl} {  
      left: -12px;
      position: absolute;
      top: 6px;
      transform-origin: 0 0;
      transform: rotate(90deg);
      span {
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }
  .client-info__text {
    margin-bottom: $lh;
    grid-row: 1 / 3;
    @media #{$min-xl} {
        margin-bottom: $lh * 0.5;
    }
  }
  .client-info__link {
    @extend %link;
    @extend %paragraph;
  }
  figure {
    @extend %shadow;
    grid-column: 2 / 12;
    grid-row: 1 / 1;
    align-self: start;
    z-index: 1;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    max-height: 200px;
    overflow: hidden;
    top: 0;
    
    @media #{$min-xs} {
        max-height: 300px;
    }
    @media #{$min-sm} {
        max-height: 400px;
    }
    @media #{$min-md} {
        max-height: 560px;
        grid-column: 6 / 13;
        margin-bottom: 0;
        opacity: 0.6;
        margin-top: $lh * 2;
    }
    img {
      display: block;
      width: 100%;
    }
  }
} 

/***********************************
Footer
***********************************/
footer {
  @extend %grid;
  padding-top: 70px;
  padding-bottom: 70px;
  .contact {
    grid-column: 2 / 12;
    @media #{$min-lg} {
      grid-column: 7 / 12;
    }
  }
  h4 {
    margin-bottom: 18px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 18px;
    font-style: italic;
	font-size: 18px;
  } 
  a {
    @extend %link;
    font-weight: 200;
  }
}  